* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  scroll-behavior: smooth;
}

:root {
  background-color: rgb(189, 191, 243);  /* fallback for old browsers */
}

body {
  width: 100dvw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/bg.jpg");
  background-size: 1000px;
  background-position: top left;
  background-repeat: repeat;
  background-color: rgba(187, 185, 217, 0.9);
  background-blend-mode: soft-light;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.App {
  position: relative;
  z-index: 1;
  width: 95vw;
  min-height: 100dvh;
  padding: 20px;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 200px auto auto;
  justify-items: end;
  gap: 10px 30px;
  color: black;
}

#header {
  width: 350px;
  max-width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
  text-align: left;
}

#logo {
  width: 150px;
}


#profile {
  grid-column: 1;
  grid-row: 2;
  max-width: 350px;
  width: 100%;
  min-height: 35vh;
  padding: 20px;
}

#profile-text {
  color: rgb(237, 237, 237);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

#details {
  grid-column: 2;
  grid-row: span 2;
  width: 100%;
  max-width: 100%;
  max-height: -moz-max-content;
  max-height: max-content;
  padding: 10px;
}

#full-screen-toggle {
  display: none;
}

#profile, #details {
  background-color: hsla(243, 68%, 33%, 0.768);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 5px;
  position: relative;
}

#photo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#photo-container > img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#profile-container {
  color: rgb(237, 237, 237);
  width: 100%;
  margin-bottom: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
#profile-container p {
  margin: 0;
  border-bottom: 1px solid rgb(0, 0, 0);
}

#lables-container {
  width: 100%;
  height: 60px;
  border-radius: 5px 5px 0 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
}
#lables-container > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}
#lables-container > ul .lable {
  margin: 0;
  margin-right: 5px;
  padding: 8px 15px;
  border-radius: 5px 5px 0 0;
  background-color: rgb(211, 211, 211);
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration-line: underline;
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}
#lables-container > ul .lable:not(.active-lable):hover {
  background-color: rgb(232, 232, 232);
}
#lables-container > ul .active-lable {
  background-color: white;
}


.info-container {
  max-height: calc(100dvh - 180px);
  overflow: scroll;
  border-radius: 0 5px 5px 5px;
  background-color: white;
  padding: 50px;
  transition: all 1s ease;
}

#about {
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1rem;
  gap: 40px;
}
#about-text, #contact-container, #about-info {
  margin: 0 20px;
  text-align: justify;
}

#contact-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#contact-icons a {
  font-size: 1.5rem;
}

#mail-icon:hover, #mail-icon:active {
  color: rgb(79, 140, 197);
}
#insta-icon:hover, #insta-icon:active {
  color: rgb(195, 42, 163);
}
#fb-icon:hover, #fb-icon:active {
  color: rgb(59, 89, 152);
}

#about-info p, #contact-container p {
  margin: 0;
}

#courses {
  flex-direction: column;
  gap: 30px;
}

#course {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.course {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.course:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.23);
}

.course-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgb(44, 72, 255);
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.course-info p {
  margin: 0;
}


#team {
  flex-direction: column;
  gap: 30px;
}

.team-member {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.23);
}

.team-member-image {
  grid-column: 1;
  grid-row: span 3;
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.team-member-info {
  display: flex;
  flex-direction: column;
}

.team-member-name, .team-member-role {
  margin: 0;
}

.team-member-name {
  font-size: 1.5rem;
}

.team-member-phrase {
  margin-top: auto;
  font-style: italic;
  background-color: rgba(232, 232, 232, 0.528);
  padding: 10px;
  color: rgb(88, 88, 88);
  align-self: flex-start;
}

.info-container {
  display: none;
}

#footer {
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 3;
  text-align: center;
  color: rgb(88, 88, 88);
}

.isDisplayed {
  display: flex;
}

@media (max-width: 1024px) {

  .App {
    gap: 10px;
    width: 100%;
    max-width: 100%;
  }

  p {
    font-size: 1rem;
  }

  #logo {
    width: 150px;
  }

  #header {
    margin: 20px 0;
  }

  #profile {
    grid-row: 2/3;
    padding: 10px 15px;
  }

  #profile-text, .course-name, .team-member-name {
    font-size: 1.1rem;
  }

  #profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  #profile-container p {
    width: 100%;
    float: left;
  }

  #profile-container p:has(strong) {
    margin-top: 10px;
    font-size: 1.1rem;
    border-bottom: none;
  }

  #details {
    max-width: 100%;
  }

  .team-member {
    flex-direction: column;
  }

  .team-member-name {
    font-size: 1.5rem;
  }

}

@media (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 90dvh auto auto;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  header {
    grid-column: 1;
    width: 100% !important;
    max-width: 100%;
  }

  #logo {
    width: 250px;
  }

  #profile {
    grid-column: 1;
    grid-row: 2;
  }
  #details {
    grid-column: 1;
    grid-row: 3;
  }
  p {
    font-size: 1rem !important;
  }

  #profile {
    width: max-content;
    max-width: calc(100dvw - 10px);
    margin: 0 auto;
  }

  #profile-text {
    font-size: 1.5rem !important;
  }

  #profile-container {
    display: grid;
    gap: 0 20px;
    align-items: end;
  }

  #profile-container p {
    font-size: 1.1rem;
    margin: 10px 0;
  }

  #profile-container p:has(strong) {
    border-bottom: 1px solid rgb(0, 0, 0);
  }


  .info-container {
    padding: 20px;
  }

  #footer {
    grid-column: 1;
    grid-row: 4;
  }

}

@media (max-width: 500px) {

  .App {
    padding:5px;
    grid-template-rows: auto auto auto auto;
  }

  #details:has(.isFullScreen) {
    height: 100dvh;
    overflow: hidden;
  }

  html:has(.isFullScreen) {
    height: 100dvh;
    overflow: hidden;
  }

  #details {
    position: relative;
    scroll-margin-top: 10px;
    grid-column: 1;
    max-height: 75dvh;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  #full-screen-toggle {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 101;
    border: 1px solid black;
    border-radius: 5px;
  }

  #full-screen-toggle::after {
    display: block;
    content: "";
    background-image: url("./assets/icons/resize-up.svg");
    background-size: contain;
    padding: 5px;
    width: 10px;
    height: 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(147, 198, 165);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  #details:has(.isFullScreen) #full-screen-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
    background-color: rgba(191, 158, 158, 0);
  }

  #details:has(.isFullScreen) #full-screen-toggle::after {
    background-image: url("./assets/icons/resize-down.svg");
  }

  #about-text {
    margin: 20px 0;
  }

  .course-name {
    font-size: 1.2rem !important;
  }

  .team-member-image {
    max-width: 150px;
    max-height: 150px;
  }

  .team-member-about {
    text-align: justify;
  }

  .info-container {
    padding: 20px;
    max-height: 100%;
    overflow: scroll;
  }

  .info-container.isFullScreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    z-index: 100;
    background-color: white;
    border-radius: 0;
  }
}