* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  scroll-behavior: smooth;
}

:root {
  background-color: #DAD299;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.App {
  position: relative;
  z-index: 1;
  width: 95vw;
  min-height: 100vh;
  padding: 20px;
  display: grid;
  grid-template-columns: 30% auto;
  justify-items: end;
  gap: 30px;
}

#header {
  width: 350px;
  max-width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
  text-align: left;
}

#logo {
  width: 150px;
}


#profile {
  grid-column: 1;
  grid-row: 2;
  max-width: 350px;
  width: 100%;
  min-height: 35vh;
  padding: 20px;
}

#profile-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

#details {
  grid-column: 2;
  grid-row: span 3;
  width: 100%;
  max-width: 100%;
  max-height: -moz-max-content;
  max-height: max-content;
  padding: 10px;
  transition: all 1s ease;
}

#profile, #details, #contact {
  background-color: rgba(33, 161, 125, 0.309);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 5px;
  position: relative;
}

#photo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#photo-container > img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#profile-container {
  width: 100%;
  margin-bottom: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
#profile-container p {
  margin: 0;
  border-bottom: 1px solid rgb(0, 0, 0);
}

#lables-container {
  width: 100%;
  height: 60px;
  border-radius: 5px 5px 0 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
}
#lables-container > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}
#lables-container > ul .lable {
  margin: 0;
  margin-right: 5px;
  padding: 8px 15px;
  border-radius: 5px 5px 0 0;
  background-color: rgb(211, 211, 211);
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration-line: underline;
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}
#lables-container > ul .lable:not(.active-lable):hover {
  background-color: rgb(232, 232, 232);
}
#lables-container > ul .active-lable {
  background-color: white;
}

.lable {
  scroll-margin-top: 40px;
}

.info-container {
  max-height: calc(100vh - 120px);
  overflow: scroll;
  border-radius: 0 5px 5px 5px;
  background-color: white;
  padding: 50px;
  transition: all 1s ease;
}

#about {
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.2rem;
  gap: 40px;
}
#about-text {
  margin: 0 20px;
  text-align: justify;
}

#about-info {
  padding: 20px;
}

#about-info p {
  margin: 0;
}

#courses {
  flex-direction: column;
  gap: 30px;
}

#course {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.course {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.course:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.23);
}

.course-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgb(7, 130, 0);
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.course-info p {
  margin: 0;
}


#team {
  flex-direction: column;
  gap: 30px;
}

.team-member {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.23);
}

.team-member-image {
  grid-column: 1;
  grid-row: span 3;
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.team-member-info {
  display: flex;
  flex-direction: column;
}

.team-member-name, .team-member-role {
  margin: 0;
}

.team-member-name {
  font-size: 1.5rem;
}

.team-member-phrase {
  margin-top: auto;
  font-style: italic;
  background-color: rgba(232, 232, 232, 0.528);
  padding: 10px;
  color: rgb(88, 88, 88);
  align-self: flex-start;
}

.info-container {
  display: none;
}

.isDisplayed {
  display: flex;
}

#contact {
  max-width: 350px;
  padding: 10px;
  text-align: center;
}

#contact p {
  margin: 20px;
}

#contact a {
  color: black;
  font-size: 2rem;
  margin: 0 10px;
}
#contact #mail-icon:hover, #contact #mail-icon:active {
  color: rgb(79, 140, 197);
}
#contact #insta-icon:hover, #contact #insta-icon:active {
  color: rgb(195, 42, 163);
}
#contact #fb-icon:hover, #contact #fb-icon:active {
  color: rgb(59, 89, 152);
}

@media (max-width: 1024px) {

  .App {
    gap: 10px;
    width: 100%;
    max-width: 100%;
  }

  p {
    font-size: 1rem;
  }

  #logo {
    width: 150px;
  }

  #header {
    margin: 20px 0;
  }

  #profile {
    grid-row: 2/3;
    padding: 10px 15px;
  }

  #profile-text, .course-name, .team-member-name {
    font-size: 1.1rem;
  }

  #profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  #profile-container p {
    font-size: 0.8rem;
    width: 100%;
    float: left;
  }

  #profile-container p:has(strong) {
    margin-top: 10px;
    font-size: 1.1rem;
    border-bottom: none;
  }

  #details {
    max-width: 100%;
  }

  .team-member {
    flex-direction: column;
  }

  .team-member-name {
    font-size: 1.5rem;
  }

  #contact {
    width: 100%;
    max-width: 100%;
  }

  #contact p {
    font-size: 0.8rem;
    margin: 5px 0;
  }

}

@media (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 30dvh 70dvh 100dvh auto;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  header {
    grid-column: 1;
    width: 100% !important;
    max-width: 100%;
  }

  #logo {
    width: 250px;
  }

  #profile {
    grid-column: 1;
    grid-row: 2;
  }
  #details {
    grid-column: 1;
    grid-row: 3;
  }
  #contact {
    grid-row: 4;
  }
  
  p {
    font-size: 1rem !important;
  }

  #profile {
    width: 100%;
    max-width: 100%;
  }

  #profile-text {
    font-size: 1.5rem !important;
  }

  #profile-container {
    display: grid;
    gap: 0 20px;
  }

  #profile-container p {
    font-size: 1.1rem;
    margin: 10px 0;
  }

  #profile-container p:has(strong) {
    border-bottom: 1px solid rgb(0, 0, 0);
  }


  .info-container {
    padding: 20px;
  }

}

@media (max-width: 500px) {

  p {
    font-size: 0.9rem;
  }

  #details {
    grid-column: 1;
  }
}